body {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff 0.95);
    background-repeat: repeat;
    background-position: 0 0;
}

h2{
    font-family: 'Noto Sans Math', sans-serif;
}