body {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2 0.95);
    background-repeat: repeat;
    background-position: 0 0;
    font-family: 'JetBrains Mono', monospace;
}

.username{
    top: 1500px;
    right: 2000px;
}
